*.class

# Package Files #
*.jar
*.war
*.ear
/EdangieJairoBranch/nbproject/private/
/EdangieApp/nbproject/private/
/EdangieModel/nbproject/private/
/EdangieModel/build/
/EdangieJairoBranch/build/
/EdangieJairoBranch/dist/

/EdangieApp/build/
/EdangieModel/dist/
/EdangieApp/dist/