*.class

# Package Files #
*.jar
*.war
*.ear
/Entidades/nbproject/private/
/EdangieNBPA/nbproject/private/
/EclipseLink/nbproject/private/
/EdangieNBPA/build/
/EdangieNBPA/DerbyClient/build/
/EdangieNBPA/Cliente/build/
/EdangieNBPA/EclipseLink/build/
/EclipseLink/build/
/EclipseLink/dist/
/EdangieNBPA/EclipseLink/nbproject/private/
/EdangieNBPA/DerbyClient/nbproject/private/
/EdangieNBPA/Cliente/nbproject/private/
/EdangieNBPA/Insumo/nbproject/private/
/Model/nbproject/private/
/Model/build/
/Model/dist/
/EdangieNBPA/BeansBinding/build/
/EdangieNBPA/Model/build/
/EdangieNBPA/Insumo/build/
/EdangieNBPA/Model/nbproject/private/
/EdangieNBPA/BeansBinding/nbproject/private/
/EdangieNBPA/dist/